<div class="container-fluid">
    <div class="col-md-12">
    <h2 style="margin: auto"> Movie Details</h2>
       <table class="table table-striped">
      <thead>
      <tr>
        <th class="d-none d-sm-none">Id</th>
        <th>Movie name</th>
        <th>Movie Category</th>
        <th>Multiplex Name</th>
        <th>Multiplex Location</th>
        <th>Alloted Screen</th>

      </tr>
      </thead>
      <tbody>
      <tr *ngFor=" let allot of allotlist">
        <td class="d-none d-sm-none">{{allot.id}}</td>
        <td>{{allot.moviename.name}}</td>
         <td>{{allot.moviename.category}}</td>
        <td>{{allot.multiplexname.multiplexName}}</td>
        <td>{{allot.multiplexname.location}}</td>  
        <td>{{allot.screenno}}</td>
       </tr>
      </tbody>
    </table>
  </div>
  </div>