<div class="col-md-6 user-container">
    <h2>Add Movie</h2>

    <form [formGroup]="createMultiplex" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="name">Multiplex Name:</label>
          <input type="text" formControlName="multiplexName" placeholder="Multiplex Name" name="multiplexName" class="form-control" id="multiplexName">
        </div>

        <div class="form-group">
            <label for="category">Movie Category:</label>
            <input type="text" formControlName="location" placeholder="Multiplex location" name="location" class="form-control" id="location">
          </div>

          <div class="form-group">
            <label for="producer">No Of Screen:</label>
            <input type="text" formControlName="noOfScreen" placeholder="No Of Screen" name="noOfScreen" class="form-control" id="noOfScreen">
          </div>

<button class="btn btn-success">Submit</button>
</form>

</div>