<div class="col-md-6 user-container">
    <h2>Add Movie</h2>

    <form [formGroup]="updateMovie" (ngSubmit)="onSubmit()">
        <div class="d-none d-sm-none">
            <label for="name">Movie ID:</label>
            <input type="text" formControlName="id" placeholder="Movie id" name="id" class="form-control" id="id">
          </div>
        <div class="form-group">
          <label for="name">Movie Name:</label>
          <input type="text" formControlName="name" placeholder="Movie Name" name="name" class="form-control" id="name">
        </div>

        <div class="form-group">
            <label for="category">Movie Category:</label>
            <input type="text" formControlName="category" placeholder="Movie Category" name="category" class="form-control" id="category">
          </div>

          <div class="form-group">
            <label for="producer">Producer:</label>
            <input type="text" formControlName="producer" placeholder="Producer" name="producer" class="form-control" id="producer">
          </div>

          <div class="form-group">
            <label for="director">Director:</label>
            <input type="text" formControlName="director" placeholder="Director" name="director" class="form-control" id="director">
          </div>

<button class="btn btn-success">Update</button>
</form>

</div>